@tailwind base;
@tailwind components;
@tailwind utilities;


/* .star {
    background: linear-gradient(90deg, gold 50%, transparent 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
   */